<body>
    <div class="description">
        <div class="description-title">
            <h1>About Me</h1>
        </div>
        <div class="description-p">
            <p>
                For the past year i've been dedicated full-time to software development and im thrilled to finally join the tech industry as a junior dev!
                As a bootcamp graduate I'm always looking for opportunities to collaborate and gain practical experience, whether through internships or hackathons. I love working in a team environment and contributing my unique perspective to help tackle complex problems.
                In addition to my technical skills, I'm also a strong communicator and enjoy presenting my ideas and solutions to others. I'm a lifelong learner and am constantly seeking new challenges and growth opportunities in the industry.
            </p>
        </div>
    </div>
    <div class="card-container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/avatar.png" class="card-img-top" alt="...">
            </div>
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Experience</h5>
                    <p class="card-text  mb-2 text-muted">
                        Over 1000 hours of coding in both front-end and back-end development
                    </p>
                </div>
            </div>
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Versitality</h5>
                    <p class="card-text  mb-2 text-muted">
                        React, Angular, fastAPI, anything a project requires, i will learn
                    </p>
                </div>
            </div>
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Projects</h5>
                    <p class="card-text  mb-2 text-muted">
                        Anything from blogs to everyday use websites
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button type="button" class="btn btn-outline-light">Message me!</button>
    </div>
</body>
